.card {
    height: 250px;
    width: 180px;
    border: 1px solid teal;
    margin: 10px 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
}
.cardPicFrame {
    height: 200px;
    width: 100%;
    margin: 0;
    display: flex;
    cursor: pointer;
}
.id {
    margin: 3px;
    font-size: 15px;
    position: absolute;
    color: red;
    font-family: "Comic Sans MS";
}
.cardName {
    margin: 3px 0 0 5px;
    font-family: "Comic Sans MS";
}
.img {
    align-self: center;
    width: 100%;
    height: 100%;
    padding: 15px 15px 0 15px;
}