.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px dashed teal;
    animation: rotate 0.7s infinite alternate;
    position: absolute;
    top: 45%;
    left: 44.5%;
}
.loadingSign {
    position: absolute;
    top: 40%;
    left: 44%;
    font-weight: bold;
    font-size: 20px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(0.4);
    }
    to {
        transform: rotate(360deg) scale(0.9) ;
    }
}